<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scsa.moin_back.group.mapper.GroupMainMapper">
    <resultMap id="GroupDTOResultMap" type="GroupDTO">
        <result column="IS_CUR_USER_FAVORITE" property="isCurUserFavorite"/>
        <association property="group" javaType="com.scsa.moin_back.group.vo.GroupVO" autoMapping="true"/>
    </resultMap>

    <!-- 모집중인 모임 조회 -->
    <select id="getGroupsActive" parameterType="HashMap" resultMap="GroupDTOResultMap">
        SELECT *
        FROM
        (
            SELECT L.ID AS IS_CUR_USER_FAVORITE, G.*
            FROM GROUPS G
            LEFT OUTER JOIN LIKES L
            ON L.GROUP_ID = G.GROUP_ID
            WHERE G.DEL_YN = 'N'
            AND G.MANUAL_CLOSE_YN = 'N'
            AND G.CLOSE_DATE >= SYSDATE
            AND G.PARTICIPATION_COUNT <![CDATA[<]]> G.GROUP_LIMIT
            <if test="category != 'all'">
                AND G.CATEGORY_ID =
                (
                SELECT CATEGORY_ID
                FROM CATEGORIES
                WHERE CATEGORY_NAME = #{category}
                )
            </if>
            <if test="searchParam != ''">
                AND
                (
                G.GROUP_NAME LIKE CONCAT('%', CONCAT(#{searchParam}, '%')) OR
                G.GROUP_CONTENT LIKE CONCAT('%', CONCAT(#{searchParam}, '%')) OR
                G.INTRO_TEXT LIKE CONCAT('%', CONCAT(#{searchParam}, '%'))
                )
            </if>
            <if test='city != "all"'>
                AND
                (
                G.CITY = #{city}
                )
            </if>
            <if test="district != 'all'">
                AND
                (
                G.DISTRICT = #{district}
                )
            </if>
            ORDER BY G.CREATED_AT
        )
        WHERE ROWNUM >= #{startRow}
        AND ROWNUM <![CDATA[<]]>= #{endRow}
    </select>

    <!-- 모집중인 모임 총 개수 조회 -->
    <select id="getGroupsActiveCnt" parameterType="HashMap" resultType="int">
        SELECT COUNT(*)
        FROM GROUPS G
        LEFT OUTER JOIN LIKES L
        ON L.GROUP_ID = G.GROUP_ID
        WHERE G.DEL_YN = 'N'
        AND G.MANUAL_CLOSE_YN = 'N'
        AND G.CLOSE_DATE >= SYSDATE
        AND G.PARTICIPATION_COUNT <![CDATA[<]]> G.GROUP_LIMIT
        <if test="category != 'all'">
            AND G.CATEGORY_ID =
            (
            SELECT CATEGORY_ID
            FROM CATEGORIES
            WHERE CATEGORY_NAME = #{category}
            )
        </if>
        <if test="searchParam != ''">
            AND
            (
            G.GROUP_NAME LIKE CONCAT('%', CONCAT(#{searchParam}, '%')) OR
            G.GROUP_CONTENT LIKE CONCAT('%', CONCAT(#{searchParam}, '%')) OR
            G.INTRO_TEXT LIKE CONCAT('%', CONCAT(#{searchParam}, '%'))
            )
        </if>
        <if test='city != "all"'>
            AND
            (
            G.CITY = #{city}
            )
        </if>
        <if test="district != 'all'">
            AND
            (
            G.DISTRICT = #{district}
            )
        </if>
    </select>

    <!-- 모집 마감된 모임 조회   -->
    <select id="getGroupsNotActive" parameterType="HashMap" resultMap="GroupDTOResultMap">
        SELECT *
        FROM
        (
            SELECT L.ID AS IS_CUR_USER_FAVORITE, G.*, ROWNUM RNUM
            FROM GROUPS G
            LEFT OUTER JOIN LIKES L
            ON L.GROUP_ID = G.GROUP_ID
            WHERE G.DEL_YN = 'N'
            AND
            (
            G.MANUAL_CLOSE_YN = 'Y' OR
            G.CLOSE_DATE <![CDATA[<]]> SYSDATE OR
            G.PARTICIPATION_COUNT >= G.GROUP_LIMIT
            )
            <if test="category != 'all'">
                AND G.CATEGORY_ID =
                (
                SELECT CATEGORY_ID
                FROM CATEGORIES
                WHERE CATEGORY_NAME = #{category}
                )
            </if>
            <if test="searchParam != ''">
                AND
                (
                G.GROUP_NAME LIKE CONCAT('%', CONCAT(#{searchParam}, '%')) OR
                G.GROUP_CONTENT LIKE CONCAT('%', CONCAT(#{searchParam}, '%')) OR
                G.INTRO_TEXT LIKE CONCAT('%', CONCAT(#{searchParam}, '%'))
                )
            </if>
            <if test='city != "all"'>
                AND
                (
                G.CITY = #{city}
                )
            </if>
            <if test="district != 'all'">
                AND
                (
                G.DISTRICT = #{district}
                )
            </if>
            ORDER BY G.CREATED_AT
        )
        WHERE RNUM BETWEEN #{startRow} AND #{endRow}
    </select>

    <!-- 모집 마감된 모임 총 개수 조회   -->
    <select id="getGroupsNotActiveCnt" parameterType="HashMap" resultType="int">
        SELECT COUNT(*)
        FROM GROUPS G
        LEFT OUTER JOIN LIKES L
        ON L.GROUP_ID = G.GROUP_ID
        WHERE G.DEL_YN = 'N'
        AND
        (
        G.MANUAL_CLOSE_YN = 'Y' OR
        G.CLOSE_DATE <![CDATA[<]]> SYSDATE OR
        G.PARTICIPATION_COUNT >= G.GROUP_LIMIT
        )
        <if test="category != 'all'">
            AND G.CATEGORY_ID =
            (
            SELECT CATEGORY_ID
            FROM CATEGORIES
            WHERE CATEGORY_NAME = #{category}
            )
        </if>
        <if test="searchParam != ''">
            AND
            (
            G.GROUP_NAME LIKE CONCAT('%', CONCAT(#{searchParam}, '%')) OR
            G.GROUP_CONTENT LIKE CONCAT('%', CONCAT(#{searchParam}, '%')) OR
            G.INTRO_TEXT LIKE CONCAT('%', CONCAT(#{searchParam}, '%'))
            )
        </if>
        <if test='city != "all"'>
            AND
            (
            G.CITY = #{city}
            )
        </if>
        <if test="district != 'all'">
            AND
            (
            G.DISTRICT = #{district}
            )
        </if>
    </select>

    <!-- 모임 단일 조회 -->
    <select id="searchGroupById" parameterType="int" resultType="com.scsa.moin_back.group.vo.GroupVO">
        SELECT *
        FROM GROUPS
        WHERE GROUP_ID = #{groupId}
    </select>

    <!-- 모임 삭제 여부 업데이트 -->
    <update id="modifyGroupRemove" parameterType="int">
        UPDATE GROUPS
        SET DEL_YN = 'Y'
        WHERE GROUP_ID = #{groupId}
    </update>

    <!-- 모임 등록  -->
    <insert id="insertGroup" parameterType="com.scsa.moin_back.group.vo.GroupVO">
            <selectKey keyProperty="groupId" resultType="int" order="AFTER">
                SELECT SEQ_GROUP.CURRVAL FROM DUAL
            </selectKey>
        INSERT INTO
        GROUPS (GROUP_ID, GROUP_LEADER_ID, CATEGORY_ID, GROUP_NAME, INTRO_TEXT, GROUP_CONTENT, GROUP_LIMIT, GROUP_DATE, CLOSE_DATE, CITY, DISTRICT, DETAIL_ADDR, GROUP_IMG, PARTICIPATION_COUNT)
        VALUES (SEQ_GROUP.NEXTVAL, #{groupLeaderId}, #{categoryId}, #{groupName}, #{introText}, #{groupContent}, #{groupLimit}, #{groupDate}, #{closeDate}, #{city}, #{district}, #{detailAddr}, #{groupImg}, #{participationCount})
    </insert>

    <!-- 참여 테이블 추가 -->
    <insert id="insertParticipation" parameterType="map">
        INSERT INTO
        PARTICIPATION (PARTICIPATION_ID, GROUP_ID, ID)
        VALUES (SEQ_PARTICIPATION.NEXTVAL, #{groupId}, #{id})
    </insert>

    <!-- 모임 수정  -->
    <update id="updateGroup" parameterType="com.scsa.moin_back.group.vo.GroupVO">
        UPDATE GROUPS
        SET
            CATEGORY_ID = #{categoryId},
            GROUP_NAME = #{groupName},
            INTRO_TEXT = #{introText},
            GROUP_CONTENT = #{groupContent},
            GROUP_LIMIT = #{groupLimit},
            GROUP_DATE = #{groupDate},
            CLOSE_DATE = #{closeDate},
            CITY = #{city},
            DISTRICT = #{district},
            DETAIL_ADDR = #{detailAddr},
            GROUP_IMG = #{groupImg}
        WHERE GROUP_ID = #{groupId}
    </update>
</mapper>