<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scsa.moin_back.group.mapper.GroupMainMapper">
    <resultMap id="GroupDTOResultMap" type="GroupDTO">
        <result column="IS_CUR_USER_FAVORITE" property="isCurUserFavorite"/>
        <association property="group" javaType="com.scsa.moin_back.group.vo.GroupVO" autoMapping="true"/>
    </resultMap>

    <!-- 모집중인 모임 조회 -->
    <select id="getGroupsActive" parameterType="HashMap" resultMap="GroupDTOResultMap">
        SELECT *
        FROM
        (
            SELECT L.ID AS IS_CUR_USER_FAVORITE, G.*
            FROM GROUPS G
            JOIN LIKES L
            ON L.GROUP_ID = G.GROUP_ID
            WHERE G.DEL_YN = 'N'
            AND G.MANUAL_CLOSE_YN = 'N'
            AND G.CLOSE_DATE >= SYSDATE
            AND G.PARTICIPATION_COUNT <![CDATA[<]]> G.GROUP_LIMIT
            <if test="category != 'all'">
                AND G.CATEGORY_ID =
                (
                SELECT CATEGORY_ID
                FROM CATEGORIES
                WHERE CATEGORY_NAME = #{category}
                )
            </if>
            <if test="searchParam != ''">
                AND
                (
                G.GROUP_NAME LIKE CONCAT('%', CONCAT(#{searchParam}, '%')) OR
                G.GROUP_CONTENT LIKE CONCAT('%', CONCAT(#{searchParam}, '%')) OR
                G.INTRO_TEXT LIKE CONCAT('%', CONCAT(#{searchParam}, '%'))
                )
            </if>
            <if test='city != "all"'>
                AND
                (
                G.CITY = #{city}
                )
            </if>
            <if test="district != 'all'">
                AND
                (
                G.DISTRICT = #{district}
                )
            </if>
            ORDER BY G.CREATED_AT
        )
        WHERE ROWNUM >= #{startRow}
        AND ROWNUM <![CDATA[<]]>= #{endRow}
    </select>

    <!-- 모집중인 모임 총 개수 조회 -->
    <select id="getGroupsActiveCnt" parameterType="HashMap" resultType="int">
        SELECT COUNT(*)
        FROM GROUPS G
        JOIN LIKES L
        ON L.GROUP_ID = G.GROUP_ID
        WHERE G.DEL_YN = 'N'
        AND G.MANUAL_CLOSE_YN = 'N'
        AND G.CLOSE_DATE >= SYSDATE
        AND G.PARTICIPATION_COUNT <![CDATA[<]]> G.GROUP_LIMIT
        <if test="category != 'all'">
            AND G.CATEGORY_ID =
            (
            SELECT CATEGORY_ID
            FROM CATEGORIES
            WHERE CATEGORY_NAME = #{category}
            )
        </if>
        <if test="searchParam != ''">
            AND
            (
            G.GROUP_NAME LIKE CONCAT('%', CONCAT(#{searchParam}, '%')) OR
            G.GROUP_CONTENT LIKE CONCAT('%', CONCAT(#{searchParam}, '%')) OR
            G.INTRO_TEXT LIKE CONCAT('%', CONCAT(#{searchParam}, '%'))
            )
        </if>
        <if test='city != "all"'>
            AND
            (
            G.CITY = #{city}
            )
        </if>
        <if test="district != 'all'">
            AND
            (
            G.DISTRICT = #{district}
            )
        </if>
    </select>

    <!-- 모집 마감된 모임 조회   -->
    <select id="getGroupsNotActive" parameterType="HashMap" resultMap="GroupDTOResultMap">
        SELECT *
        FROM
        (
            SELECT L.ID AS IS_CUR_USER_FAVORITE, G.*, ROWNUM RNUM
            FROM GROUPS G
            LEFT OUTER JOIN LIKES L
            ON L.GROUP_ID = G.GROUP_ID
            WHERE G.DEL_YN = 'N'
            AND
            (
            G.MANUAL_CLOSE_YN = 'Y' OR
            G.CLOSE_DATE <![CDATA[<]]> SYSDATE OR
            G.PARTICIPATION_COUNT >= G.GROUP_LIMIT
            )
            <if test="category != 'all'">
                AND G.CATEGORY_ID =
                (
                SELECT CATEGORY_ID
                FROM CATEGORIES
                WHERE CATEGORY_NAME = #{category}
                )
            </if>
            <if test="searchParam != ''">
                AND
                (
                G.GROUP_NAME LIKE CONCAT('%', CONCAT(#{searchParam}, '%')) OR
                G.GROUP_CONTENT LIKE CONCAT('%', CONCAT(#{searchParam}, '%')) OR
                G.INTRO_TEXT LIKE CONCAT('%', CONCAT(#{searchParam}, '%'))
                )
            </if>
            <if test='city != "all"'>
                AND
                (
                G.CITY = #{city}
                )
            </if>
            <if test="district != 'all'">
                AND
                (
                G.DISTRICT = #{district}
                )
            </if>
            ORDER BY G.CREATED_AT
        )
        WHERE RNUM BETWEEN #{startRow} AND #{endRow}
    </select>

    <!-- 모집 마감된 모임 총 개수 조회   -->
    <select id="getGroupsNotActiveCnt" parameterType="HashMap" resultType="int">
        SELECT COUNT(*)
        FROM GROUPS G
        JOIN LIKES L
        ON L.GROUP_ID = G.GROUP_ID
        WHERE G.DEL_YN = 'N'
        AND
        (
        G.MANUAL_CLOSE_YN = 'Y' OR
        G.CLOSE_DATE <![CDATA[<]]> SYSDATE OR
        G.PARTICIPATION_COUNT >= G.GROUP_LIMIT
        )
        <if test="category != 'all'">
            AND G.CATEGORY_ID =
            (
            SELECT CATEGORY_ID
            FROM CATEGORIES
            WHERE CATEGORY_NAME = #{category}
            )
        </if>
        <if test="searchParam != ''">
            AND
            (
            G.GROUP_NAME LIKE CONCAT('%', CONCAT(#{searchParam}, '%')) OR
            G.GROUP_CONTENT LIKE CONCAT('%', CONCAT(#{searchParam}, '%')) OR
            G.INTRO_TEXT LIKE CONCAT('%', CONCAT(#{searchParam}, '%'))
            )
        </if>
        <if test='city != "all"'>
            AND
            (
            G.CITY = #{city}
            )
        </if>
        <if test="district != 'all'">
            AND
            (
            G.DISTRICT = #{district}
            )
        </if>
    </select>
</mapper>